<template lang="html">
    <div id="app">
        <header></header>
        <main>
            <div class="content">
                <div class="header-class">
                    <div class="logo" v-on:click="showStart">
                        <img src="/img/logo.png" />
                    </div>
                    <div class="menu">
                        <p style="padding-left: 1.5em;" v-on:click="showStart">Главная</p>
                        <p v-on:click="showNew">Новинки</p>
                        <p v-on:click="showTop">Топ</p>
                        <!--<p v-if="AccessType !== 0">Режиссеры</p>-->
                        <p v-on:click="showSearch">Поиск</p>
                        <p v-if="AccessType !== 0"
                           style="width: 30%;"
                           @click="addFilm">Добавить&nbsp;фильм</p>
                        <!--<p v-if="AccessType === 2"
               @click="showAcceptFilmPage">Заявки</p>-->
                        <p v-if="AccessType === 2"
                           @click="showManageFilmPage">Управление</p>
                        <div class="drop-list"
                             v-if="AccessType !== 0"
                             @mouseover="showAllParts"
                             @mouseleave="showAllPartsCancel">
                            <div class="first-in-drop-list">
                                <p style="padding-right: 1.5em;" class="no-hover" >
                                    <img src="/img/lk2.png" style="width: 30px;"/>
                                </p>
                            </div>
                            <div class="rest-drop-list">
                                <!--<p style="padding-right: 1.5em;"
                       v-if="showAllMenu">
                        Редактировать профиль
                    </p>-->
                                <p style="padding-right: 1.5em;"
                                   v-if="showAllMenu"
                                   v-on:click="showUserFilms">
                                    Мои фильмы
                                </p>
                                <p style="padding-right: 1.5em;"
                                   v-if="showAllMenu"
                                   v-on:click="logout">
                                    Выход
                                </p>
                            </div>

                        </div>
                        <p v-if="AccessType === 0"
                           @click="login">
                            Вход
                        </p>
                        <p v-if="AccessType === 0"
                           @click="signup">
                            Регистрация
                        </p>
                    </div>
                </div>
                <router-view></router-view>
                <footer>
                    <p>&copy; {{(new Date()).getFullYear()}}</p>
                </footer>
            </div>
        </main>

    </div>
</template>

<script>
    export default {
        data() {
            return {
                showAllMenu: false
            }
        },
        components: {

        },
        computed: {
            AccessType() {
                return this.$root.accessType;
            }
        },
        methods: {
            addFilm() {
                this.$router.push({ name: 'addFilm', username: this.$root.username });
            },
            setAccessType(value) {
                if (value == null) {
                    this.accessType = 0;
                }
                else {
                    this.accessType = value;
                }
            },
            setUsername(value) {
                if (value == null) {
                    this.username = '';
                }
                else {
                    this.username = value;
                }
            },
            login() {
                this.$router.push({ name: 'login' });
            },
            logout() {
                this.$root.username = "";
                this.$root.accessType = 0;
                this.$router.push({ name: 'start' });
            },
            signup() {
                this.$router.push({ name: 'signup' });
            },
            showAllParts() {
                this.showAllMenu = true;
            },
            showAllPartsCancel() {
                this.showAllMenu = false;
            },
            showUserFilms() {
                this.$router.push({ name: 'filmsUser'});
            },
            showNew() {
                this.$router.push({ name: 'filmsNew'});
            },
            showTop() {
                this.$router.push({ name: 'filmsTop' });
            },
            showSearch() {
                this.$router.push({ name: 'search' });
            },
            showAcceptFilmPage(){
                this.$router.push({ name: 'acceptFilmPage' });
            },
            showStart() {
                this.$router.push({ name: 'start' });
            },
            showManageFilmPage() {
                this.$router.push({ name: 'manageFilmPage' });
            }
        }
    };
</script>

<style>
    .error-message {
        color: rgba(204,88,90,100);
    }

    .header-class {
        display: flex;
        margin-left: -5%;
    }

    .main-page {
        max-width: 1040px;
    }

    .input-info {
        display: flex;
        flex-direction: column;
        width: 50%;
        margin-left: 20%;
    }

    .logo {
        float: left;
        cursor: pointer;
    }

    .logo img {
        width: 300px;
    }

    .menu {
        width: 70%;
        display: flex;
        float: right;
        font-weight: 500;
    }

    .menu p {
        height: 100%;
        background-color: rgba(204,88,90,100);
        text-align: center;
        padding: 1em;
        padding-top: 1.5em;
        font-size: 1.2em;
        cursor: pointer;
        color: azure;
        padding-bottom: 0.1rem;
    }

    .menu p:hover {
        height: 100%;
        background-color: rgba(52,73,89,100);
    }
    .drop-list {
        display: flex;
        flex-direction: column;
        background-color: rgba(204,88,90,100);
    }

    .no-hover:hover {
        background-color: rgba(204,88,90,100) !important;
    }

    .rest-drop-list {
        padding: 0;
        position: absolute;
        margin-top: 4em;
        margin-left: -3em;
    }
    .rest-drop-list p {
        margin: 0;
        opacity: 0.9;
    }

   /*other*/
    .main-page{
        margin-top: 0 !important;
    }
    .content {
        margin: 2rem;
        display: flex;
        flex-direction: column;
        min-width: 1000px;
        margin-left: 15%;
    }
    .btn-outline-secondary:hover {
        background-color: rgba(52,73,89,100) !important;
        border-color: rgba(52,73,89,100) !important;
    }
    .film-list-item-item:hover {
        background: rgba(182,196,207,100) !important;
    }

    .button-ok {
        width: 40%;
        margin-left: 35% !important;
    }

    .input-info p {
        margin: 0 !important;
        margin-top: 0.5rem !important;
    }

    .dropdown {
        margin: 0.5rem;
        width: 20%;
    }

    .select > button[data-v-2ff54540] {
        height: 3rem;
    }

    footer {
        background: rgba(52,73,89,100);
        color: azure;
        bottom: 0;
        height: 60px;
        width: 100%;
        position: absolute;
        left: 0;
    }

    footer p {
        margin-bottom: 0 !important;
        padding: 1rem !important;
    }
    .root-class-template {
        position: relative !important;
        min-height: 100% !important;
    }
    body {
        margin-bottom: 60px !important;
    }

    .main-page {
        margin-bottom: 2em !important;
    }
</style>
