<template lang="html">
  <div class="modal-backdrop modal-backdrop-confirm">
    <div class="modal modal-confirm">
      <div class="mod-header">
        <p>Are you sure?</p>
        <button type="button"
                class="btn-close"
                @click="close">
          x
        </button>
      </div>
      <div class="modal-body">
        <div class="modal-input-group">
          <p v-if="isLangugaesRemoving">Do you want to remove languages: {{LanguagesToRemoveList}} </p>
          <p v-if="isDataRemoving">Do you want to remove data: {{DataToRemoveList}} </p>
          <button v-on:click="approveAction" class="btn btn-outline-secondary">Yes</button>
          <button v-on:click="cancelAction" class="btn btn-outline-secondary">No</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import { Bus } from '../Bus.js'


  export default {
    props: ['isLangugaesRemoving', 'isDataRemoving'],
    data() {
      return {
        languagesToRemove: [],
        dataToRemove: []
      }
    },
    computed: {
      LanguagesToRemoveList() {
        Bus.$on('change-event-languages-to-remove', this.setLanguages);
        return this.languagesToRemove;
      },
      DataToRemoveList() {
        Bus.$on('change-event-data-to-remove', this.setData);
        return this.dataToRemove;
      }
    },
    methods: {
      close() {
        this.$emit('close');
      },
      setLanguages(languages) {
        this.languagesToRemove = languages;
      },
      setData(data) {
        this.dataToRemove = data;
      },
      approveAction() {
        this.$emit('action-is-confirmed', true);
        this.close();
      },
      cancelAction() {
        this.$emit('action-is-confirmed', false);
        this.close();
      }
    }
  };
</script>

<style>
  .modal-confirm{
    z-index: 1059;
  }
  .modal-backdrop-confirm {
    z-index: 1058;
  }
</style>
