<template lang="html">
    <div class="main-page">
        <div v-if="!showUserFilms" class="film-list" v-for="item in films">
            <div class="film-list-item film-list-item-item" @click="showFilm(item)">
                <div class="film-list-item-first-block">
                    <img v-bind:src="item.photoFile" />
                </div>
                <div class="film-list-item-second-block ">
                    <p class="film-list-p-first-line">{{item.name}}</p>
                    <p class="film-list-p-second-line">Жанр: {{item.categories}}</p>
                    <p>Режиссер: {{item.nameStageManager}}</p>
                    <p>Год: {{item.productionYear}}</p>
                </div>
                <div class="film-list-item-third-block">
                    <p>Рейтинг: {{item.rate}}/10</p>
                    <button class="btn btn-outline-secondary">Смотреть</button>
                </div>
            </div>
        </div>
        <div v-if="showUserFilms">
            <h5>Опубликованные</h5>
            <div v-if="showUserFilms" class="film-list" v-for="item in AcceptedFilms" @click="showFilm(item)">
                <div class="film-list-item film-list-item-item">
                    <div class="film-list-item-first-block">
                        <img v-bind:src="item.photoFile" />
                    </div>
                    <div class="film-list-item-second-block">
                        <p class="film-list-p-first-line">{{item.name}}</p>
                        <p class="film-list-p-second-line">Жанр: {{item.categories}}</p>
                        <p>Режиссер: {{item.nameStageManager}}</p>
                        <p>Год: {{item.productionYear}}</p>
                    </div>
                    <div class="film-list-item-third-block">
                        <p>Рейтинг: {{item.rate}}/10</p>
                        <button v-if="!showUserFilms" class="btn btn-outline-secondary">Смотреть позже</button>
                    </div>
                </div>
            </div>
            <p v-if="AcceptedFilms.length === 0">Опубликованных фильмов нет</p>
            <h5>Ожидающие проверки</h5>
            <div v-if="showUserFilms" class="film-list" v-for="item in WaitingFilms" @click="showFilm(item)">
                <div class="film-list-item film-list-item-item">
                    <div class="film-list-item-first-block">
                        <img v-bind:src="item.photoFile" />
                    </div>
                    <div class="film-list-item-second-block">
                        <p class="film-list-p-first-line">{{item.name}}</p>
                        <p class="film-list-p-second-line">Жанр: {{item.categories}}</p>
                        <p>Режиссер: {{item.nameStageManager}}</p>
                        <p>Год: {{item.productionYear}}</p>
                    </div>
                    <div class="film-list-item-third-block">
                        <p>Рейтинг: {{item.rate}}/10</p>
                        <button v-if="!showUserFilms" class="btn btn-outline-secondary">Смотреть позже</button>
                    </div>
                </div>
            </div>
            <p v-if="WaitingFilms.length === 0">Фильмов, ожидающих проверки, нет</p>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';
    import DeleteIcon from '../assets/delete.png';

    export default {
        props: ['films', 'showUserFilms'],
        data() {
            return {
                image: ''
            }
        },
        created() {
        },
        components: {
            DeleteIcon
        },
        computed: {
            AcceptedFilms() {
                var accepted = this.films.filter(film => {
                    return film.status == 1;
                });
                return accepted;
            },
            WaitingFilms() {
                var waiting = this.films.filter(film => {
                    return film.status == 0;
                });
                return waiting;
            },
            accessType() {
                return this.$root.accessType;
            }
        },
        methods: {
            showFilm(film) {
                this.$router.push({ name: 'filmPage', params: { film: film } });
            }
        }
    };
</script>

<style>
    .film-list {
        width: 80%;
        margin: 2% 10%;
        cursor: pointer;
        display: flex;
    }

    .film-list-item img {
        width: 80%;
        margin: 1em;
        margin-top: 2em;
    }

    .film-list-item {
        display: flex;
    }

    .film-list-item-item:hover {
        background: #c6c6c6;
    }

    .film-list-item-first-block {
        width: 40%;
    }

    .film-list-item-second-block {
        width: 30%;
        padding: 2em;
    }

    .film-list-item-third-block {
        width: 30%;
        padding: 2em;
        font-size: 20px;
    }

    .film-list-p-first-line {
        font-size: 28px;
    }

    .film-list-p-second-line {
        padding-top: 2em;
    }

    .button-delete-film {
        height: 20%;
        margin: 130% 0;
        border: none !important;
    }

    .button-delete-film:hover {
        border: none !important;
    }

    .button-delete-film img {
        width: 20px;
    }

    [tooltip] {
        position: relative;
    }

        [tooltip]::before,
        [tooltip]::after {
            text-transform: none;
            font-size: .9em;
            line-height: 1;
            user-select: none;
            pointer-events: none;
            position: absolute;
            display: none;
            opacity: 0;
            margin-left: 4rem;
            margin-top: 0.1rem;
        }

        [tooltip]::before {
            content: '';
            border: 5px solid transparent;
            z-index: 1001;
        }

        [tooltip]::after {
            content: attr(tooltip);
            font-family: Helvetica, sans-serif;
            text-align: center;
            min-width: 3em;
            max-width: 21em;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            padding: 1ch 1.5ch;
            border-radius: .3ch;
            box-shadow: 0 1em 2em -.5em rgba(0, 0, 0, 0.35);
            background: #6c757d;
            color: #fff;
            z-index: 1000;
        }

        [tooltip]:hover::before,
        [tooltip]:hover::after {
            display: block;
        }

    [tooltip='']::before,
    [tooltip='']::after {
        display: none !important;
    }

    [tooltip][flow^="down"]::before {
        top: 100%;
        border-top-width: 0;
        border-bottom-color: #333;
    }

    [tooltip][flow^="down"]::after {
        top: calc(100% + 5px);
    }

    [tooltip][flow^="down"]::before,
    [tooltip][flow^="down"]::after {
        left: 50%;
        transform: translate(-50%, .5em);
    }

    @keyframes tooltips-vert {
        to {
            opacity: .9;
            transform: translate(-50%, 0);
        }
    }

    @keyframes tooltips-horz {
        to {
            opacity: .9;
            transform: translate(0, -50%);
        }
    }

    [tooltip]:not([flow]):hover::before,
    [tooltip]:not([flow]):hover::after,
    [tooltip][flow^="down"]:hover::before,
    [tooltip][flow^="down"]:hover::after {
        animation: tooltips-vert 0ms ease-out forwards;
    }

    .m-message {
        margin-left: 70%;
        float: right;
        display: flex;
    }

    .m-message-container {
        z-index: 1060;
    }

</style>
