<template lang="html">
    <div class="main-page">
        <div class="input-info">
            <p v-if="loginFailed" class="error-message">Неправильный логин или пароль</p>
            <p v-if="buttonPushed && username===''" class="error-message">Введите логин</p>
            <input type="text"
                   v-model="username"
                   placeholder="username"
                   class="form-control" />
            <p v-if="buttonPushed && password===''" class="error-message">Введите пароль</p>
            <input type="password"
                   v-model="password"
                   placeholder="password"
                   class="form-control"
                   v-on:keyup.enter="login"/>
            <button class="btn btn-outline-secondary info-input-el button-ok"
                    @click="login">
                Войти
            </button>
        </div>
    </div>
</template>

<script>
    import { Bus } from '../Bus.js';
    import axios from 'axios';

    export default {
        data() {
            return {
                username: '',
                password: '',
                urlLogin: 'api/users/login',
                buttonPushed: false,
                loginFailed: false
            }
        },
        components: {

        },
        computed: {

        },
        methods: {
            login() {
                this.buttonPushed = true;
                if (this.username == '') {
                    return;
                }
                if (this.password == '') {
                    return;
                }

                var loginModel = {
                    username: this.username,
                    password: this.password
                }
                axios.post(this.urlLogin, loginModel).then(response => {
                    console.log(response);
                    if (response.data.statusCode == 200) {
                        var accessType = response.data.value.role;
                        var username = response.data.value.username;
                        this.$root.username = username;
                        this.$root.accessType = accessType;
                        this.$router.push({ name: 'start'});
                    }
                    else {
                        this.loginFailed = true;
                        return;
                    }
                    this.username = '';
                    this.password = '';
                    this.buttonPushed = false;
                    this.loginFailed = false;
                }).catch(error => {
                    console.log(error);
                })
            }
        }
    };
</script>

<style>
    .input-info {
        display: flex;
        flex-direction: column;
        width: 50%;
        margin-left: 20%;
        margin-top: 5rem !important;
    }
    .input-info input {
        margin: 0.5rem;
    }
    .info-input-el {
        margin: 0.5rem;
    }
</style>
