<template lang="html">
  <div class="pagging">
    <div class="translation-input-group">
      <p>Items per page</p>
      <v-select v-on:input="changeItemsPerPage"
                v-model="itemsPerPage"
                :options="itemsPerPageList">
      </v-select>
    </div>
    <div class="translation-input-group">
      <p>Page</p>
      <v-select v-on:input="changeCurrentPage"
                v-model="selectedPage"
                :options="pagesList">
        <div slot="no-options">Page doesn't exist</div>
      </v-select>
      <button v-if="selectedPage > 1" v-on:click="getPreviousPage" class="btn btn-outline-secondary">Prev</button>
      <button v-else class="btn btn-outline-secondary" disabled>Prev</button>
      <button v-if="selectedPage < pagesCount" v-on:click="getNextPage" class="btn btn-outline-secondary">Next</button>
      <button v-else class="btn btn-outline-secondary" disabled>Next</button>
    </div>
  </div>
</template>


<script>
  import vSelect from 'vue-select';
  import { Bus } from '../Bus.js'


   export default {
    props: ['pagesCount', 'currentPage'],
    data() {
      return {
        pages: [],
        selectedPage: 1,
        itemsPerPageList: [1, 3, 4],
        itemsPerPage: 3
      }
    },
    components: {
      vSelect
    },
    methods: {
      changeCurrentPage() {
        this.$emit('page-change', this.selectedPage - 1);
      },
      setFirstPage() {
        this.selectedPage = 1;
      },
      changeItemsPerPage() {
        this.$emit('items-per-page-change', this.itemsPerPage);
        Bus.$emit('items-per-page-change-event', this.itemsPerPage);
        this.setFirstPage();
      },
      getNextPage() {
        this.selectedPage = this.selectedPage + 1;
      },
      getPreviousPage() {
        this.selectedPage = this.selectedPage - 1;
      }
    },
    computed: {
      pagesList() {
        Bus.$on('search-change-event', this.setFirstPage);
        let pages = [];
        for (let page = 1; page <= this.pagesCount; page++) {
          pages.push(page);
        }
        return pages;
      }
    },
  }
</script>

<style>
  .pagging
  {
    display: flex;
  }
  .translation-input-group {
    display: block;
    margin: 1em 0.5em;
  }
  .translation-input-group button {
    margin: 0.5em;
  }
  .clear {
    display: none;
  }
  .dropdown-toggle::after {
    content: none;
  }
</style>
